.styleguide {

  li,
  label,
  .is-color,
  .is-font,
  .is-radius,
  .is-size {
    .color(@text-color, @value-text-color);
    color: @color;
  }

  .styleguide-header {

    h1 {
      .color(@heading-color, @value-heading-color);
      color: @color;
    }

    p:last-of-type {
      .color(@text-color, @value-text-color);
      color: @color;
    }
  }


  .section-heading.section-heading {
    .color(@heading-color, @value-heading-color);
    color: @color;
  }


  section {
    .bgcolor(@background-color, @value-background-color);
    background-color: @bgcolor;

    h2 {
      .color(@heading-color, @value-heading-color);
      color: @color;
    }

    p {
      .color(@text-color, @value-text-color);
      color: @color;
    }
  }

  [data-name="icons"] .icon,
  [data-name="icons"] .icon:before {
    .color(@text-color, @value-text-color);
    color: @color;
  }


  .example .example-rendered {
    .bgcolor(@background-color, @value-background-color);
    background-color: @bgcolor;

    .bordercolor(@background-color, @value-border-color);
    border-color: @bordercolor;
    //border: 0;
  }
}
