.settings-view {

  .section .section-heading {
    .color(@heading-color, @heading-value);
    color: @color;
  }


  .keybinding-panel.section {
    .bgcolor(@background-color, @background-value);
    background-color: @bgcolor;
    margin: 2rem;
  }


  .table th {
    .bordercolor(@background-color, @border-value);
    border-color: @bordercolor;
  }


  tr {

    &:nth-child(even) {
      .bgcolor(@background-color, @background-value);
      background-color: @bgcolor;
    }

    &:hover {
      .bgcolor(@button-color, @button-value);
      background-color: @bgcolor;
    }
  }


  .table td {
    .bordercolor(@background-color, @border-value);
    border-color: @bordercolor;
    //border: 0;

    .color(@text-color, @text-value);
    color: @color;

    vertical-align: middle;
    white-space: initial;
  }

}
