// Mini Editor
// -------------------

// Mini Editors are the "text inputs" used in find+replace or in the settings.


atom-text-editor[mini] {

  .bgcolor(@text-color, @value-text-color);
  background-color: @bgcolor;

  .color(@background-color, @value-background-color);
  color: @color;

  .bordercolor(@background-color, @value-border-color);
  border: 1px solid @bordercolor;


  border-radius: @component-border-radius;
  max-height: 42px;
  padding: 0 @component-padding;

  &.is-focused {
    .bgcolor(@text-color, @value-text-color);
    background-color: @bgcolor;

    .color(@background-color, @value-background-color);
    color: @color;
  }

  &, // <-- Deprecated. The `&,` can be removed once the Shadow DOM can't be turned off in the settings.
  &::shadow {
    .placeholder-text {
      .color(@background-color, @value-background-color);
      color: @color;
    }

    //like ::selection - when you select text in an input
    .selection .region {
      .bgcolor(@button-color, @value-button-color);
      background-color: @bgcolor;

      .color(@text-color, @value-text-color);
      color: @color !important;
    }
  }
}
