// Find + Replace
// -------------------

// This is the panel that pops up from the bottom when you press
// command + f

// Find and replace in the current buffer or across the entire project.
// Overrides: atom/find-and-replace

.find-and-replace {

  .bgcolor(@background-color, @background-navvalue);
  background-color: @bgcolor;

  .bordercolor(@background-color, @border-value);
  border-color: @bordercolor;
  border-top: 1px solid @bordercolor;

  .color(@text-color, @text-value);
  color: @color;

}

.path-name,
.find-and-replace .options-label .options,
.project-find .options-label .options,
.find-and-replace .options-label,
.project-find .options-label {
  .color(@text-color, @text-value);
  color: @color;
}

.tool-panel {
  .header-item.description,
  .options-label,
  .options {
    .color(@text-color, @text-value);
    color: @color !important;
  }

  .description .subtle-info-message {
    .color(@text-color, @text-value);
    color: @color !important;
  }

  .description .subtle-info-message .highlight,
  .project-find .description .subtle-info-message .highlight {
    .bgcolor(@button-color, @button-value);
    background-color: @bgcolor;

    & when (@button-textcolor = background) {
      .color(@background-color, @background-value);
      color: @color;
    }

    & when (@button-textcolor = text) {
      .color(@text-color, @text-value);
      color: @color;
    }

    & when (@button-textcolor = heading) {
      .color(@heading-color, @heading-value);
      color: @color;
    }
  }

  .text-highlight {
    // .color(@text-color, @text-value);
    // color: @color;
  }

  .highlight-info {
    //.bgcolor(@button-color, @button-value);
    background-color: @button-textcolor;

    .color(@text-color, @text-value);
    color: @color;
  }

  .highlight-success {
    & when (@button-textcolor = background) {
      .color(@background-color, @background-value);
      color: @color;
    }

    & when (@button-textcolor = text) {
      .color(@text-color, @text-value);
      color: @color;
    }

    & when (@button-textcolor = heading) {
      .color(@heading-color, @heading-value);
      color: @color;
    }
  }

  .highlight-error {
    & when (@button-textcolor = background) {
      .color(@background-color, @background-value);
      color: @color;
    }

    & when (@button-textcolor = text) {
      .color(@text-color, @text-value);
      color: @color;
    }

    & when (@button-textcolor = heading) {
      .color(@heading-color, @heading-value);
      color: @color;
    }
  }

  .header-item.description,
  .description .subtle-info-message,
  .options-label,
  .options-label .options {
    & when (@button-textcolor = background) {
      .color(@background-color, @background-value);
      color: @color;
    }

    & when (@button-textcolor = text) {
      .color(@text-color, @text-value);
      color: @color;
    }

    & when (@button-textcolor = heading) {
      .color(@heading-color, @heading-value);
      color: @color;
    }
  }

}

// Not sure what's going on here. I might need to enable the ::shadow settings again

// How to change find and replace highlight color?
// https://discuss.atom.io/t/how-to-change-find-and-replace-highlight-color/14750

atom-text-editor::shadow .highlight.find-result .region {
  // .bordercolor(@findAndReplace-borderHighLightColor, @heading-value);
  // border-color: @bordercolor;
  //border-width: 2px;
}

atom-text-editor::shadow .highlight.current-result .region,
atom-text-editor::shadow .highlight.current-result ~ .highlight.selection .region {
  // .bordercolor(@findAndReplace-borderHighLightColorCurrent, @button-value);
  // border-color: @bordercolor;
  border-width: 2px;
}
