// Git
// -------------------

// Used to color git status

.status {
  .color(@text-color, @text-value);
  color: @color;
}
.status-added    { color: @text-color-success; }
.status-ignored  {
  .color(@background-color, @background-navvalue);
  color: lighten(@background-color, 15%);
}
.status-modified { color: @text-color-warning; }
.status-removed  { color: @text-color-error; }
.status-renamed  { color: @text-color-info; }
