.settings-view .settings-panel .control-group .editor-container {
    margin: 0;
    width: 100%;
}
.settings-view .sub-section .sub-section-heading {
  background-color: transparent;

  .bordercolor(@button-color, @button-value);
  border-bottom: 1px solid @bordercolor;
}
