

// Status Bar
// -------------------

// Located at the bottom.
// Displays information about the current editor.
// Overrides: atom/status-bar

.status-bar {
  .bgcolor(@background-color, @nav-value - 5);
  background-color: @bgcolor;

  //border-top: 1px solid @base-border-color;

  .color(@background-color, @text-value);
  color: @color;

  font-size: @font-size;

  & a {
    .color(@button-color, @button-value);
    color: @color;

    &:hover {
      .color(@button-color, @button-value);
      color: @color;
      text-decoration: none;
    }
  }

  atom-text-editor::shadow .linter-highlight.status-success,
  .linter-highlight.status-success,
  linter-bottom-tab.active {
    .color(@button-color, @button-value);
    color: @color;
  }
}




// This is styling the Terminal Plus status-bar
.bottom.tool-panel.panel-bottom,
.bottom.tool-panel.panel-bottom .status-bar {
  .bgcolor(@background-color, @nav-value);
  background-color: @bgcolor;
}

.terminal-plus.status-bar .icon.icon-plus {
  .color(@button-color, @button-value);
  color: @color;
}
