// Tabs
// -------------------

// Displays selectable tabs above the editor.
// Overrides: atom/tabs

.tab-bar {
  .bgcolor(@background-color, @value-nav);
  background-color: @bgcolor;

  border: none;
  //border-bottom: 1px solid darken(@tab-background-color, 10%);

  // &:hover {
  //   .bgcolor(@background-color, @value-background-color);
  //   background-color: lighten(@bgcolor, 5%);
  // }

  .tab {
    .bgcolor(@background-color, @value-background-color);
    background-color: @trans;

    .bordercolor(@background-color, @value-border-color);
    border-color: @bordercolor;

    border-right: 1px solid bordercolor;

    .color(@text-color, @value-text-color);
    color: @color;

    font-size: @font-size;
    height: @tab-height;
    line-height: @tab-height;


    &:hover {
      .bgcolor(@background-color, @value-background-color);
      background-color: darken(@bgcolor, 5%);
    }


    &.active {
      .bgcolor(@button-color, @value-accent-color);
      background-color: @bgcolor;

      .color(@text-color, @value-text-color);
      color: @color;

      // &:hover {
      //   .bgcolor(@background-color, @value-background-color);
      //   background-color: darken(@bgcolor, 5%);
      // }
    }


    // Modified Icon (the blue circle) -------------------
    &.modified:not(:hover) .close-icon {
      top: 50%;
      right: @component-padding + 4px; // 4px -> half of icon size
      margin-top: -3px;
      border-color: @text-color-info;
    }
    &.modified:hover .close-icon {
      color: currentColor;
    }


    // Close Icon (the X) -------------------
    .close-icon:hover {
      color: @text-color-selected;
    }
    &.active .close-icon:hover {
      color: @text-color;
    }


    // Dragging -------------------
    // Styles get applied while dragging a tab
    &.is-dragging {
      background: darken(@tab-background-color, 10%);
      border-color: transparent;
      opacity: .5;
      & .close-icon {
        visibility: hidden;
      }
    }
  }
}
