
// Tabs
// -------------------

// Displays selectable tabs above the editor.
// Overrides: atom/tabs

.tab-bar {
  background-color: @tab-background-color;
  border: none;
  //border-bottom: 1px solid darken(@tab-background-color, 10%);

  .tab {
    color: @tab-text-color;
    height: @tab-height;
    line-height: @tab-height;
    font-size: @font-size;
    border-right: 1px solid darken(@tab-background-color, 10%);
    background-color: @tab-background-color;

    &:hover {
      background-color: @global-accent-color;
    }

    &.active {
      color: @text-color;
      background-color: @base-background-color;

      &:hover {
        background-color: @global-accent-color;
      }
    }


    // Modified Icon (the blue circle) -------------------
    &.modified:not(:hover) .close-icon {
      top: 50%;
      right: @component-padding + 4px; // 4px -> half of icon size
      margin-top: -3px;
      border-color: @text-color-info;
    }
    &.modified:hover .close-icon {
      color: currentColor;
    }


    // Close Icon (the X) -------------------
    .close-icon:hover {
      color: @text-color-selected;
    }
    &.active .close-icon:hover {
      color: @text-color;
    }


    // Dragging -------------------
    // Styles get applied while dragging a tab
    &.is-dragging {
      background: darken(@tab-background-color, 10%);
      border-color: transparent;
      opacity: .5;
      & .close-icon {
        visibility: hidden;
      }
    }
  }
}
