

.terminal-view .standard {
  .bgcolor(@terminal-backgroundColor, @terminal-backgroundValue);
  background-color: @bgcolor;

  color: @terminal-textColor;

  ::selection {
    //.bgcolor(@heading-color, @heading-value);
    // background-color: @bgcolor;
  }

  .terminal-cursor {
    background-color: @terminal-cursorColor;
  }
}


// .terminal-plus .xterm {
//
//   .bgcolor(@background-color, @background-navvalue);
//   //background-color: @bgcolor;
//   background-color: red;
//
//   .color(@text-color, @text-value);
//   color: @color;
//
//   ::selection {
//     .bgcolor(@heading-color, @heading-value);
//     background-color: @bgcolor;
//   }
//
//   .terminal-cursor {
//     .bgcolor(@button-color, @button-value);
//     background-color: @bgcolor;
//   }
//
//   // .bordercolor(@background-color, @border-value);
//   // background-image: repeating-linear-gradient(-45deg, @trans, @trans 7px, @bordercolor 7px, @bordercolor 8px);
//   //
//   // & > .terminal {
//   //   background: @trans !important;
//   // }
// }
