// Tree View
// -------------------

// Used to explore and open files in the current project.
// Overrides: atom/tree-view


.tree-view-resizer {
  .bordercolor(@background-color, @border-value);
  border-color: @bordercolor;
  border-right: 1px solid @bordercolor;
}

.tree-view {

  .bgcolor(@background-color, @value-nav);
  background-color: @bgcolor;

  .color(@text-color, @text-value);
  color: @color;



  .list-item.selected {

    .color(@text-color, @text-value);
    color: @color;

    &::before {
      .bgcolor(@button-color, @button-value);
      background-color: @bgcolor;
    }
  }

  // &:hover {
  //   .bgcolor(@background-color, @background-value);
  //   background-color: @bgcolor;
  // }
}

.list-group .selected::before,
.list-tree .selected::before {
  content: '';
  .bgcolor(@background-color, @value-nav);
  background-color: @bgcolor;
}
