@text-color: rgba(33, 33, 33, 1);
@text-value: 40;
@heading-color: rgba(214, 214, 214, 1);
@heading-value: 0;
@background-color: rgba(33, 33, 33, 1);
@background-value: 0;
@background-navvalue: -2;
@button-color: rgba(255, 205, 33, 1);
@button-value: 0;
@button-textcolor: background;
@border-value: 10;
@border-radius: 4;
@git-infoColor: rgba(255, 207, 0, 1);
@git-successColor: rgba(0, 250, 93, 1);
@git-warningColor: rgba(255, 147, 0, 1);
@git-errorColor: rgba(255, 38, 0, 1);
@settingsPage-background: solid;
@settingsPage-nav: horizontal;
@settingsPage-border: false;