@text-color: rgba(255, 126, 121, 1);
@text-value: -10;
@heading-color: rgba(88, 36, 37, 1);
@heading-value: 0;
@background-color: rgba(253, 222, 219, 1);
@background-value: 0;
@background-navvalue: -20;
@button-color: rgba(0, 243, 178, 1);
@button-value: 0;
@button-textcolor: text;
@border-value: -25;
@border-radius: 4;
@findAndReplace-borderHighLightColor: rgba(255, 255, 255, 1);
@findAndReplace-borderHighLightColorCurrent: rgba(0, 243, 178, 1);
@git-infoColor: rgba(88, 36, 37, 1);
@git-successColor: rgba(0, 143, 0, 1);
@git-warningColor: rgba(255, 251, 0, 1);
@git-errorColor: rgba(255, 0, 0, 1);
@settingsPage-background: dot;
@settingsPage-nav: horizontal;
@settingsPage-border: false;